<!-- <h1>Update a User</h1>
<form action="/users/<%=user._id%>?_method=PUT" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" value=<%=user.name%>>
  </div>
  <button type="submit" class="btn btn-primary">Edit</button>
</form> -->